<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ca.sfu.djlin.walkinggroup">

    <!-- Setup permission requests to ask the user -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Meta data for Google Play Services -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <!-- Google Maps API Key -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <!-- Welcome Activity - Default Activity on Launch of Application -->
        <activity android:name=".app.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Google Maps Activity -->
        <activity
            android:name=".app.MapActivity"
            android:label="@string/title_activity_maps" />

        <!-- Signup Activity -->
        <activity
            android:name=".app.SignupActivity"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <!-- Login Activity -->
        <activity
            android:name=".app.LoginActivity"
            android:windowSoftInputMode="stateHidden|adjustPan" />


        <!-- Preferences Activity -->
        <activity
            android:name=".app.PreferencesActivity"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <!-- Group Activities -->
        <activity
            android:name=".app.CreateGroupActivity"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".app.GroupInfoActivity"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity android:name=".app.ReadMe" />

        <activity android:name=".app.ViewGrpupActivity"/>
        <activity android:name=".app.SettingsActivity"/>
        <activity android:name=".app.NameUpdate"/>
        <activity android:name=".app.ViewEmergencyContactActivity"/>
        <activity
            android:name=".app.Map_activityDrawer"
            android:label="@string/title_activity_map_drawer_test"
            android:theme="@style/AppTheme"/>

        <!-- Messaging Activity -->
        <activity android:name=".app.ViewMessagesActivity">
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->

                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>
    </application>

</manifest>